
@font-face {
  font-family: 'Grava-Normal';
  src: url('../web-fonts/Grava-Normal.eot?#iefix') format('embedded-opentype'),  
       url('../web-fonts/Grava-Normal.otf')  format('opentype'),
       url('../web-fonts/Grava-Normal.woff') format('woff'), 
       url('../web-fonts/Grava-Normal.ttf')  format('truetype'), 
       url('../web-fonts/Grava-Normal.svg#Grava-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}

