/node_modules
/public/hot
/public/storage
public/uploads/user_uploaded_images/new/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.svn/*
